* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* App.js */
.App {
  position: relative;
}

.fab {
  margin: 10px;
  color: #231f20;
}