.formWrapper {
  width: 100%;
  height: 87.5vh;
  min-height: 540px;
  position: relative;
  justify-content: flex-start;
  overflow: hidden;
}

.formImage {
  position: relative;
  display: flex;
  height: 90vh;
  width: 45%;
  margin: 5vh;
  z-index: -10;
  justify-content: center;
}

.formImage img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fit;
}

.formInner {
  margin-top: 5vh;
  width: 55%;
  height: 90vh;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}

.formHeader {
  margin: 4vh 0 2vh 0;
  font-weight: 700;
  font-size: 52px;
  font-family: 'Inter';
  line-height: 63px;
  display: flex;
  align-items: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line {
  width: 40%;
  height: 0px;
  margin-bottom: 3vh;
  border: 2px solid #f93059;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formInnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer {
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputLabel {
  margin: 3vh 0 1vh 0;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Inter';
  line-height: 27px;
  display: flex;
  align-items: center;

  color: #f93059;
}

.input {
  width: 90%;
  height: 6vh;

  background: #e7eaee;
  border-radius: 6px;
  border: 0;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 29px;
  font-family: 'Inter';
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 1%;
  letter-spacing: 0.1rem;
}

.input::placeholder {
  font-style: italic;
  opacity: 0.5;
  color: #858585;
}

.checkboxWrapper {
  margin: 3vh 0 1vh 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  font-family: 'Inter';
  display: flex;
  flex-direction: row;
  align-items: center;

  color: #000000;
}

.checkboxWrapper input {
  margin-right: 1%;
  border-radius: 3px;
  border: 0;
}

.buttonWrapper {
  width: 90%;
  height: 16vh;
  flex-direction: row;
  justify-content: center;
}

.btn {
  background: #f93059;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  border: 0;
  width: 40%;
  height: 44%;
  margin: 5.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn:disabled{
  background-color: #858585;
}

.btn p {
  font-weight: 600;
  margin-right: 5%;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  font-family: 'Inter';
  text-align: center;

  color: #ffffff;
}

.btn img {
  padding: 4px 5px 0 0;
  margin-left: 1%;
  height: 75%;
}

.login {
  width: 90%;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Inter';
  line-height: 17px;
  display: flexbox;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #000000;
}

.login p {
  margin: 1%;
}

.login Link {
  color: #f93059;
}

.error{
  align-items: flex-start;
  align-content: flex-start;
  font-weight: 400;
  font-size: 16px;
  color: red;
  font-family: 'Inter';
}
