.listingCard {
  max-width: 1920px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 17px 10px 48px -24px rgba(0,0,0,0.75);
  transition: all 0.2s ease;
}

.listingCard:hover {
    transform: scale(1.025);
}

.listingCard:active {
    transform: translateY(4px);
}

.listingImageWrapper {
  width: 20%;
  float: left;
}

.listingImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.listingDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  float: left;
  padding-left: 3rem;
  position: relative;
}

.listingDetails h1 {
  margin-top: 0;
}

.location {
  align-self: flex-end;
  font-size: 14px;
  font-weight: bold;
  opacity: 50%;
  font-size: 1rem;
  position: absolute;
}

.listingDetails ul {
    display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listingDetails li {
    display: flex;
    gap: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  padding: 1rem 1rem 1rem 0;
  width: 14rem;
  color: #F93059;
  font-weight: bolder;
}

.listingDetails p {
    font-size: 1.2rem;
}

.listingDetails p span {
    font-weight: bolder;
    color: #F93059;
}

.serviceIcon {
    width: 1.5rem;
  }

.filter {
    display: flex;
    justify-content: flex start;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.filter input {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.filter input:hover {
    background-color: #e6e6e6;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
.filterButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

.filterButton:hover {
  transform: scale(1.1);
}

.filter img {
    width: 50%;
}

.filterButton:active {
    transform: translateY(6px);
  }

.container {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.container:active {
    transform: translateY(6px);
}