.navbarWrapper {
  width: 100%;
  height: 12.5vh;
  position: relative;
  background: #e7eaee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbarInner {
  justify-content: space-between;
  margin: 0 30px;
  width: 100%;
  height: 100%;
}

.navbarLeft {
  min-width: 300px;
  width: 15%;
}

.brand {
  width: 80%;
  cursor: pointer;
}

.navbarRight {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.navbarLinksWrapper {
  display: flex;
  width: 680px;
  justify-content: flex-end;
}

button {
  border: 2px solid #F93059;
  padding: 6px 10px;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  font-weight: 400;
  font-size: 22px;
  font-family: 'Inter';
  background-color: #e7eaee;
}

button:hover {
  color: #f93059;
}

.nav {
  font-weight: 400;
  font-size: 22px;
  font-family: 'Inter';
  margin: 0 15px;
  color: #000000;
  cursor: pointer;
  float: right;
}

.nav:hover {
  color: #f93059;
}