.tabWrapper {
    width: 100%;
    padding: inherit;
    min-height: 100vh;
}
.outerWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between ;
}

form {
    width: 100%;
    height: 100%;
}

.outerFormWrapper {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.inputWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    height: 100%;
}

.simpleInputSet {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    margin-bottom: 15px;
}

.simpleInputSet label {
    margin-bottom: 10px;
}

.simpleInputSet input[type="text"] {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 70px;
    font-size: 22px;
    border: none;
    width: 77%;
}

.simpleInputSet textarea {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 250px;
    font-size: 22px;
    border: none;
    resize: none;
}

.error {
    height: 5%;
}

.addressInputSet {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    margin-bottom: 15px;
}

.addressInputSet label {
    margin-bottom: 10px;
}

.addressInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addressInputSet input[type="text"] {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 70px;
    font-size: 22px;
    border: none;
    text-indent: 10px;
    font-style: italic;
}

.cityInput {
    width: 40%;
}
.stateInput {
    width: 34%
}
.zipCodeInput {
    width: 20%;
}


.formButtonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    height: fit-content;
    
}

.formButtonGroup button {
    width: 47%;
    height: 4vh;
    background-color: #858585;
    color: white;
    border: none;
}

.formButtonGroup button[type="submit"] {
    background-color: #F93059;
    color: white;
}

.formButtonGroup button:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}