.profileWrapper{
    height: 100%;
    width: 100%;
}

.isLoading{
    font-weight: 500;
    font-size: 40px;
    line-height: 34px;
    position: relative;
    color: #858585;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.profileHeaderWrapper{
    height: 25vh;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.profileImageWrapper{
    position: relative;
    width: 20%;
    height: 0;
    margin-bottom: 20%;
}

.profileImageWrapper img{
    width: 90%;
}

.profileInfo{
    height: 100%;
    width: 100%;
}

.profileName{    
    font-weight: 400;
    font-size: 36px;
    line-height: 58px;
    display: flex;
    align-items: center;
    margin-bottom: 1.5%;
}

.profileAddress{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5%;
}

.profileAddress p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    align-items: center;

    color: #858585;
    padding-right: 0.5%;
}

.profileWeb{
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    margin-bottom: 1.5%;
}

.profileWeb a:link{
    color: black;
}

.profilePhone{
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 1.5%;
}

.editButtonWrapper{
    position: absolute;
    width: 7.5%;
    height: 4.25vh;
    right: 3%;
    top: 2vh;
}

.editButtonWrapper button{
    width: 100%;
    height: 100%;

    background: #F93059;
    border-radius: 10px;
    border: 0;

    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    /* identical to box height */

    color: #FFFFFF;
}

.profileContentWrapper{
    height: 70vh;
    width: 100%;
}

.profileDescription{
    margin-bottom: 2.5vh;
}

.profileDescription h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
    margin-bottom: 1%;
}

.profileDescription p{
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.profileServices{
    margin-bottom: 2.5vh;
}

.profileServices h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
    margin-bottom: 1%;
}

.profileServiceCards{
    display: flex;
    flex-direction: row;
}

.service{
    width: 17.5%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    background: #E7EAEE;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}

.service img{
    max-height: 5.5vh;
    max-width: 17.5%;
    padding: 2.5% 0;
    margin-left: 7.5%;
}

.service p{
    font-weight: 600;
    font-size: 28px;
    line-height: 29px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #F93059;
    padding: 0 10%;
}

.profileForm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputLabel{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.address{
    flex-direction: row;
    margin: 1% 1% 1% 0;
}

.input{
    width: 35%;
    height: 5vh;
    padding: 1%;
    margin: 1% 1% 1% 0;
    background: #D9D9D9;
    border-radius: 10px;
    border: 0;

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.address input{
    width: 20%;
    margin: 0 1% 0 0;
}

.services{
    width: 80%;
    height: 16vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.card{
    width: 25%;
    height: 40%;
    margin: 1%;
}

.services label{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    background: #E7EAEE;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1%;
    opacity: 0.6;
}

.services input[type=checkbox]{
    display: none;
}

.services label img{
    position: relative;
    left: 8%;
    top: 0;     
    max-height: 45px;
    max-width: 45px;
}

.services label p{
    position: relative;
    left: 15%;
    font-weight: 600;
    font-size: 28px;
    line-height: 29px;
    text-align: center;

    color: #F93059;
}

.services input:checked + label {
    opacity: 1;
 }

.description{
    width: 50%;
    height: 25vh;

    background: #D9D9D9;
    border-radius: 10px;
    padding: 1%;
    margin: 1% 1% 1% 0;
    border: 0;
    display: flex;
    align-items: flex-start;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #858585;
}

.buttons{
    position: absolute;
    width: 18%;
    height: 4.25vh;
    right: 3%;
    top: 2vh;
    flex-direction: row;
}

.buttons button{
    width: 45%;
    margin-right: 2%;
    height: 100%;
    border-radius: 10px;
    border: 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.save{
    background: #F93059;
}

.cancel{
    background: #858585;
}